/Content
/DerivedDataCache
/Intermediate
/Saved
/UE4Portfolio.sln
/UE4Portfolio.uproject
/.vs
/Binaries
/Config
/Source
/Plugins/CustomMaterialExpression/Binaries
/Plugins/CustomMaterialExpression/Intermediate
/Plugins/CustomMaterialExpression/Resources
/Plugins/CustomMaterialExpression/Content
